EXPO_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=TU_LLAVE_PUBLICA
EXPO_PUBLIC_INVITE_BASE_URL=goyxpress://register
EXPO_PUBLIC_ADMIN_LOGIN_DOMAIN=admin.goyxpress.app
